<div class="container">
  <form [formGroup]="this.form">
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input type="text" class="form-control" id="username">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password">
    </div>
    <div class="mb-3">
      <select name="" id="">
        <option *ngFor="let type of usertypes" [value]="type">{{type}}</option>
      </select>
    </div>
    <span class="form-text">Already got an account? <a routerLink="/login">Go to login page</a></span>
    <button type="submit" class="d-block btn btn-primary" [disabled]="this.form.invalid">Submit</button>
  </form>
</div>
