<h2>Create a listing</h2>
<form action="" [formGroup]="createListingForm">
  <label for="title">Title</label>
  <input formControlName="title" type="text" id="title"/>

  <label for="description">Description</label>
  <input formControlName="description" type="text" id="description"/>

  <label for="price">Price</label>
  <input formControlName="price" type="number" id="price"/>

  <label for="thumbnail">Choose a thumbnail</label>
  <input type="file" id="thumbnail" (change)="imagesPreview($event)" formControlName="thumbnail">
  <button type="submit">Create</button>
</form>

<div>
  <h3></h3>
</div>
